---
title: 'Image Cropper'
---
{{#extend "page"}}
{{#content "content"}}
	<div class="grid">
		<div class="col-1-2">
		  <div id="container">

		  </div>
		</div>
		<div class="col-1-2">
			<div id="result"></div>
		</div>
</div>

{{/content}}

{{#content "scripts"}}
<script>
	
</script>
{{/content}}
{{/extend}}