html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #222;
}

h1 {
    font-size: 42px;
    font-weight: 300;
    padding-top: 30px;
    margin: 15px 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.container,
.section-header h3 {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  min-width: 500px;
}

section.hero {
  height: 50vh;
  background: #58BC74;
  color: white;
  text-shadow: 0 1px 1px rgba(20,20,20,0.6);
}

.hero p {
  font-size: 16px;
}

.section-header {
  background: #4B5654;  
  padding: 5px 0;
}

h3 {
  color: white;
  font-size: 23px;
  font-weight: 300;
}

/* Grid - subset */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
	float: left;
	padding-right: 20px; /* column-space */
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}