/* 
Colors
#20C1C7
#204648
#189094
#61CED2
#0C4648
*/
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #222;
}

body,
button,
input {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 42px;
    font-weight: 300;
    padding-top: 30px;
    margin: 15px 0;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

footer {
    text-align: center;
    color: #555;
    font-size: 12px;
    padding: 5px;
}

section {
    margin-bottom: 20px;
}

section.hero {
    background: #20C1C7;
    color: white;
    text-shadow: 0 1px 1px rgba(20,20,20,0.6);
    margin-bottom: 0;
    min-height: 450px;
}

section.who {
    margin-bottom: 30px;
}
section.who p {
    text-align: center;
}
.section-header {
    background: #204648;  
    padding: 5px 0;
}

button {
    background-color: #189094;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
button:focus {
    outline: 0;
}

pre[class*="language"] {
    margin: 0;
    padding-top: 0;
}

.container,
.section-header h2 {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 500px;
}

.hero p {
    font-size: 16px;
}

.hero .grid {
    padding-top: 50px;
}


h2 {
    color: white;
    font-size: 23px;
    font-weight: 300;
}

/* Grid - subset */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
	float: left;
	padding-right: 20px; /* column-space */
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }
    .container, 
    .section-header h2 {
        min-width: 0;
    }

    .croppie-container {
        padding: 30px 0;
    }
}